.categories {
    display: grid !important;
    grid-template-columns: max-content auto !important;
}

:where(.categories) {
    column-gap: 1em;
}

.categories .category,
.categories .category form {
    display: grid !important;
    grid-column: span 2 !important;

    grid-template-columns: subgrid !important;
}

.categories .category input {
    field-sizing: content !important;
}