.header__wrapper {
    width: 100% !important;

    z-index: 999;
}

:where(.header__wrapper) {
    position: fixed;

    height: 3em;

    line-height: 1;

    background-color: white;
    box-shadow: 0px 0px 0px 2px gray;
}

.header__inner {
    display: grid !important;
    grid-template-columns: auto 1fr auto !important;
    align-items: center !important;
    justify-items: center !important;

    position: relative !important;

    height: 100% !important;
    
    box-sizing: border-box !important;
}

:where(.header__inner) {
    max-width: 1000px;

    gap: 1em;

    margin: auto;
    padding-inline: 1em;
}

.header__portal-main {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

:where(.header__portal-main) {
    gap: .5em;
}

.header__portal-menu__items {
    flex-direction: column !important;

    position: absolute !important;

    right: 0 !important;

    width: max-content !important;
}

:where(.header__portal-menu__items) {
    align-items: end;
    
    top: 3em;

    max-width: 100%;

    padding: .5em;

    background-color: white;
    box-shadow:
        inset 2px 0px 0px 0px gray,
        inset 0px -2px 0px 0px gray,
        inset -2px 0px 0px 0px gray;
    
    box-sizing: border-box;
}

@media (min-width: 1000px) {
    :where(.header__portal-menu__items) {
        margin-right: 1em;

        max-width: calc(100% - 2em);
    }
}

.header__portal-menu__items[aria-expanded="true"] {
    display: flex !important;
}

:where(.header__portal-menu__items[aria-expanded="false"]) {
    display: none;
}

:where(.header__portal-menu__items > *) {
    align-self: unset;
}