:root {
    font-size: 20px;
}

:where(:root) {
    font-family: sans-serif;
}

body {
    margin: 0 !important;
}

#root {
    display: grid !important;
    align-content: start !important;

    min-height: 100vh !important;
    min-height: 100svh !important;
}

button {
    align-self: center !important;
}

:where(button[aria-label])::before {
    content: attr(aria-label);
}