:where(:not(button)) {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: grid !important;
    align-content: start !important;

    min-height: 100vh !important;
    min-height: 100svh !important;
}

:where(:root) {
    font-family: sans-serif;
    font-size: 20px;
}

body {
    margin: 0 !important;
}

#root {
    width: 100% !important;
}

:where(#root) {
    max-width: 1000px;
    margin: auto;
}

button {
    align-self: center !important;
}

:where(button[aria-label])::before {
    content: attr(aria-label);
}

.input__hidden {
    position: absolute !important;
    pointer-events: none !important;
    opacity: 0 !important;
}