@media (min-width: 500px) {
    .recipe-list__wrapper {
        columns: 2 !important;
        column-fill: balance !important;
    }
}

:where(.recipe-list__wrapper) {
    list-style: none;

    text-align: center;
}

@media (min-width: 500px) {
    :where(.recipe-list__wrapper) {
        gap: .5em;
    }
}

:where(.recipe-list-item) {
    margin-bottom: .5em;
}

:where(.recipe-list-item a) {
    text-decoration: none;
}