.header__wrapper {
    background-color: var(--color-background);
    box-shadow: none;

    font-family: var(--font-tertiary);
    font-weight: bold;
}

.header__inner {
    box-shadow:
        inset 0px calc(0px - var(--line-thickness)) 0px 0px rgb(from var(--color-tertiary) r g b / .6);
}

.header__portal-menu__items {

    padding: var(--size-xsmall) var(--size-small);

    gap: var(--size-xsmall);

    line-height: 1.25;
    
    background-color: var(--color-background);
    box-shadow: 
        inset calc(0px - var(--line-thickness)) 0px 0px 0px rgb(from var(--color-tertiary) r g b / .6);
}