.modal {
    background-color: var(--color-background);

    box-shadow:
        inset 0px 0px 0px var(--line-thickness) var(--color-primary),
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);
}

.modal__controls {
    margin-top: var(--size-small);
}

.modal__controls button:not([class]) {
    padding-inline: var(--size-xsmall);

    line-height: 1.5;

    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor,
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);

    transition: box-shadow var(--transition-short);
}

.modal__controls button:not([class]):hover {
    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor;
}