input,
textarea {
    background-color: transparent;
    box-shadow: unset;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
    box-shadow:
        inset 0px calc(0px - var(--line-thickness)) 0px 0px rgb(from var(--color-tertiary) r g b / .6);

    transition: box-shadow var(--transition-short);
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=number]:invalid,
textarea:invalid {
    box-shadow: 
        inset 0px 0px 0px var(--line-thickness) var(--color-primary),
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);
}

input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=number]:focus-visible,
textarea:focus-visible {
    box-shadow: inset 0px calc(0px - var(--line-thickness)) 0px 0px var(--color-tertiary);

    outline: none;
}

input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

input[type=checkbox] ~ li .checkbox {
    display: inline-block;
    position: relative;

    height: 1lh;
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    box-shadow:
        inset 0px 0px 0px var(--line-thickness) var(--color-primary),
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);

    transition: box-shadow var(--transition-standard);
}

input[type=checkbox] ~ li:hover .checkbox,
input[type=checkbox]:hover ~ li .checkbox {
    box-shadow:
        inset 0px 0px 0px var(--line-thickness) var(--color-primary);
}

@media not print {
    input[type=checkbox]:checked ~ li .checkbox {
        box-shadow:
            inset 0px 0px 0px var(--line-thickness) rgb(from var(--color-tertiary) r g b / .5);
    }
}

input[type=checkbox] ~ li .checkbox::before {
    content: '';

    height: 2em;
    width: 0;

    position: absolute;
    top: -25%;
    left: -15%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='159' viewBox='-3.5 25 131 40' height='120' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cg clip-path='url(%23395f5e6b40)'%3E%3Cpath fill='%23fff' d='M 0.121094 51.191406 C 0.121094 51.191406 7.492188 42.316406 15.820312 39.640625 C 18.074219 41.328125 30.859375 66.820312 33.113281 66.539062 C 35.648438 66.257812 52.359375 43.027344 88.492188 0.410156 C 88.492188 0.410156 98.949219 5.148438 118.191406 6.136719 C 67.878906 45.519531 41.855469 83.90625 39.578125 85.761719 C 33.09375 88.855469 29.769531 87.066406 27.515625 85.660156 C 22.160156 80.878906 0.402344 52.316406 0.121094 51.191406 Z M 0.121094 51.191406 ' fill-opacity='1' fill-rule='evenodd'/%3E%3C/g%3E%3Cg clip-path='url(%23a959c98e5b)'%3E%3Cpath stroke-linecap='butt' transform='matrix(0.211558  0  0  0.211122  -14.346852  -73.193283)' fill='none' stroke-linejoin='miter' d='M 68.38754 589.161353 C 68.38754 589.161353 103.229458 547.123968 142.595101 534.449845 C 153.248936 542.442869 213.682214 663.189335 224.336049 661.857164 C 236.319306 660.524994 315.30909 550.4914 486.102804 348.630544 C 486.102804 348.630544 535.531428 371.073918 626.486005 375.755018 C 388.667298 562.295912 265.658896 744.118701 254.894276 752.907327 C 224.243728 767.561204 208.530707 759.087118 197.876872 752.426265 C 172.562474 729.779364 69.716962 594.490035 68.38754 589.161353 Z M 68.38754 589.161353 ' stroke='%23b19132' stroke-width='30' stroke-opacity='1' stroke-miterlimit='4'/%3E%3C/g%3E%3C/svg%3E");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 2em 2em;
}

@media not print {
    input[type=checkbox]:checked ~ li .checkbox::before {
        width: 2em;

        transition: width var(--transition-short) ease-in;
    }
}

@media (prefers-color-scheme: dark) {
    input[type=checkbox] ~ li .checkbox::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='159' viewBox='-3.5 25 131 40' height='120' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cg clip-path='url(%23395f5e6b40)'%3E%3Cpath fill='%23111' d='M 0.121094 51.191406 C 0.121094 51.191406 7.492188 42.316406 15.820312 39.640625 C 18.074219 41.328125 30.859375 66.820312 33.113281 66.539062 C 35.648438 66.257812 52.359375 43.027344 88.492188 0.410156 C 88.492188 0.410156 98.949219 5.148438 118.191406 6.136719 C 67.878906 45.519531 41.855469 83.90625 39.578125 85.761719 C 33.09375 88.855469 29.769531 87.066406 27.515625 85.660156 C 22.160156 80.878906 0.402344 52.316406 0.121094 51.191406 Z M 0.121094 51.191406 ' fill-opacity='1' fill-rule='evenodd'/%3E%3C/g%3E%3Cg clip-path='url(%23a959c98e5b)'%3E%3Cpath stroke-linecap='butt' transform='matrix(0.211558  0  0  0.211122  -14.346852  -73.193283)' fill='none' stroke-linejoin='miter' d='M 68.38754 589.161353 C 68.38754 589.161353 103.229458 547.123968 142.595101 534.449845 C 153.248936 542.442869 213.682214 663.189335 224.336049 661.857164 C 236.319306 660.524994 315.30909 550.4914 486.102804 348.630544 C 486.102804 348.630544 535.531428 371.073918 626.486005 375.755018 C 388.667298 562.295912 265.658896 744.118701 254.894276 752.907327 C 224.243728 767.561204 208.530707 759.087118 197.876872 752.426265 C 172.562474 729.779364 69.716962 594.490035 68.38754 589.161353 Z M 68.38754 589.161353 ' stroke='%23b19132' stroke-width='30' stroke-opacity='1' stroke-miterlimit='4'/%3E%3C/g%3E%3C/svg%3E");
    }
}

h1,
h2 {
    font-family: var(--font-secondary);
}

h1 {
    font-size: var(--size-xlarge);
    text-decoration: none;
    text-transform: none;
    text-shadow: var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);
}

@media (min-width: 500px) {
    h1 {
        font-size: var(--size-xxlarge);
    }
}

h2 {
    margin-bottom: var(--size-xsmall);
    
    font-size: var(--size-medium);
    text-decoration: none;
    text-transform: none;
}

@media (min-width: 500px) {
    h2 {
        font-size: var(--size-large);
    }
}

.add-button,
.new-recipe-button {
    position: relative;

    border-radius: 50%;

    background: var(--color-background);
    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor,
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);
    text-shadow: var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);

    transition:
        box-shadow var(--transition-short),
        text-shadow var(--transition-short);
}

.add-button:hover,
.new-recipe-button:hover {
    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor,
        0px 0px 0px var(--color-secondary);
    text-shadow: 0px 0px 0px var(--color-secondary);
}

.add-button::before,
.new-recipe-button::before {
    content: '+';

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    font-family: var(--font-secondary);
    line-height: 1;
}

.add-button {
    height: var(--size-medium);
    width: var(--size-medium);
}

.new-recipe-button {
    font-size: var(--size-xlarge);
}

.new-recipe-button::before {
    top: -12.5%;
}

.back-button:not(.has-children),
.close-button:not(.has-children),
.delete-button:not(.has-children),
.drag-button:not(.has-children),
.menu-button:not(.has-children),
.save-button:not(.has-children) {
    filter: drop-shadow(var(--line-thickness) var(--line-thickness) 0px var(--color-secondary));

    transition: filter var(--transition-short);
}

.back-button:not(.has-children):hover,
.close-button:not(.has-children):hover,
.delete-button:not(.has-children):hover,
.drag-button:not(.has-children):hover,
.menu-button:not(.has-children):hover,
.save-button:not(.has-children):hover {
    filter: none;
}

@media (prefers-color-scheme: dark) {
    .back-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='4' d='M44 40.836q-7.34-8.96-13.036-10.168t-10.846-.365V41L4 23.545L20.118 7v10.167q9.523.075 16.192 6.833q6.668 6.758 7.69 16.836Z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }

    .close-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'%3E%3C/path%3E%3C/svg%3E");
    }

    .delete-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z'%3E%3C/path%3E%3C/svg%3E");
    }

    .drag-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 256 256'%3E%3Cpath fill='currentColor' d='M104 60a12 12 0 1 1-12-12a12 12 0 0 1 12 12m60 12a12 12 0 1 0-12-12a12 12 0 0 0 12 12m-72 44a12 12 0 1 0 12 12a12 12 0 0 0-12-12m72 0a12 12 0 1 0 12 12a12 12 0 0 0-12-12m-72 68a12 12 0 1 0 12 12a12 12 0 0 0-12-12m72 0a12 12 0 1 0 12 12a12 12 0 0 0-12-12'%3E%3C/path%3E%3C/svg%3E");
    }

    .menu-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3 5h18M3 12h18M3 19h18'%3E%3C/path%3E%3C/svg%3E");
    }

    .save-button:not(.has-children) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='color: rgb(255  255  255)%3B' width='64' height='64' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M5 21h14c1.1 0 2-.9 2-2V8c0-.27-.11-.52-.29-.71l-4-4A1 1 0 0 0 16 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2m10-2H9v-5h6zM11 5h2v2h-2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v5H5z'%3E%3C/path%3E%3C/svg%3E");
    }
}