@property --size-xsmall {
    syntax: "<length>";
    inherits: true;
}

@property --size-small {
    syntax: "<length>";
    inherits: true;
}

@property --size-medium {
    syntax: "<length>";
    inherits: true;
}

@property --size-large {
    syntax: "<length>";
    inherits: true;
}

@property --size-xlarge {
    syntax: "<length>";
    inherits: true;
}

@property --size-xxlarge {
    syntax: "<length>";
    inherits: true;
}

@property --line-thickness {
    syntax: "<length>";
    inherits: true;
}

@property --color-primary {
    syntax: "<color>";
    inherits: true;
}

@property --color-secondary {
    syntax: "<color>";
    inherits: true;
}

@property --color-tertiary {
    syntax: "<color>";
    inherits: true;
}

@property --color-background {
    syntax: "<color>";
    inherits: true;
}

@property --font-primary {
    syntax: "<string>";
    inherits: true;
}

@property --font-secondary {
    syntax: "<string>";
    inherits: true;
}

@property --font-tertiary {
    syntax: "<string>";
    inherits: true;
}

@property --transition-short {
    syntax: "<time>";
    inherits: true;
}

@property --transition-standard {
    syntax: "<time>";
    inherits: true;
}

@property --transition-long {
    syntax: "<time>";
    inherits: true;
}