@media (min-width: 500px) {
    .recipe-list__wrapper {
        column-rule: solid var(--line-thickness) rgb(from var(--color-tertiary) r g b / .6);
    }
}

@media (min-width: 1000px) {
    .recipe-list__wrapper {
        columns: 3 !important;
    }
}

.recipe-list-category {
    margin-top: var(--size-small);
}