.settings__wrapper button:not([class]) {
    padding-inline: var(--size-xsmall);

    line-height: 1.5;

    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor,
        var(--line-thickness) var(--line-thickness) 0px var(--color-secondary);

    transition: box-shadow var(--transition-short);
}

.settings__wrapper button:not([class]):hover {
    box-shadow:
        inset 0px 0px 0px var(--line-thickness) currentColor;
}

.settings__menu {
    justify-items: center;
    
    border-color: var(--color-primary);
    
    font-family: var(--font-tertiary);
}

.settings-admin .user-head {
    background-color: var(--color-background);
}

.settings__controls,
.user__controls {
    gap: var(--size-xsmall);
}