@import "./elements.css";
@import "./properties.css";
@import "./recipe-view.css";
@import "./header.css";
@import "./settings.css";
@import "./modal.css";

@import url(https://fonts.bunny.net/css?family=abhaya-libre:400,700);
@import url(https://fonts.bunny.net/css?family=pacifico:400);
@import url(https://fonts.bunny.net/css?family=baskervville:400,400i,600,600i);

:root {
    --size-xsmall: 0.5rem;
    --size-small: 1rem;
    --size-medium: 1.25rem;
    --size-large: 2rem;
    --size-xlarge: 2.25rem;
    --size-xxlarge: 4rem;

    --line-thickness: 2px;

    --color-primary: black;
    --color-secondary: #ff6eaf;
    --color-tertiary: #b19132;
    --color-background: white;

    --font-primary: "Baskervville", serif;
    --font-secondary: "Pacifico", handwriting, serif;
    --font-tertiary: "Abhaya Libre", serif;

    --transition-short: .2s;
    --transition-standard: .4s;
    --transition-long: .6s;

    font-family: var(--font-primary);
    line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: white;
        --color-secondary: hsl(from #ff6eaf h s calc(.75 * l));
        --color-background: #111;
    }
}

body {
    line-height: 1.25;

    background-color: var(--color-background);
    color: var(--color-primary);
    text-shadow: 0px 0px 1em rgb(from var(--color-background) r g b / .6);
}

#root {
    padding: var(--size-small) var(--size-xsmall);

    overflow: visible;
}